<br>
<div class="list">
    <div style="position:absolute; right:0px;">
    </div>
    <app-useradd></app-useradd>
    <button (click)="userDelete()">사용자 삭제</button>
    <br>
    <table>
        <tr>
            <th>사용자 ID</th>
            <th>접속 가능 유무</th>
            <th>email</th>
            <th>삭제</th>
        </tr>
        <tr *ngFor='let tmpUser of adm.users'>
            <td>{{tmpUser.name}}</td>
            <td>{{tmpUser.state}}</td>
            <td>{{tmpUser.email}}</td>
            <td><input type='checkbox' [(ngModel)]="tmpUser.isDeleted" value={{tmpUser.id}} placeholder="" /></td>
        </tr>
    </table>

</div>
