<div *ngIf="selected.server!=null" class="body">
    <p style="padding-left:20px; font-size:30px">{{selected.server.name}}</p>
    <br>
     <div style="width: 75%; position:absolute; left:50%; margin-left:-47%">
         <div style="position:absolute; right:0px;">
        </div>
        <br>
        <table style="margin-top:5px">
            <tr style="background-color:black; color:white;border:2px; border-radius:5px;">
                <th style="width:5%;text-align: center;">VM명</th>
                <th style="width:7%;text-align: center;">OS</th>
                <th style="width:7%;text-align: center;">상태</th>
                <th style="width:7%;text-align: center;">CPU(core)</th>
                <th style="width:7%;text-align: center;">MEM(GB)</th>
                <th style="width:7%;text-align: center;">HDD(GB)</th>
                <th style="width:7%;text-align: center;">제어메뉴</th>
                <th style="width:7%;text-align: center;">IP주소</th>
                <th style="width:7%;text-align: center;">Floating 할당여부</th>
            </tr>
            <tr *ngFor='let vm of selected.server.vmlist' >
                <td style="text-align: center;">{{vm.name}}</td>
                <td style="text-align: center;">{{vm.os}}</td>
                <td style="text-align: center;">{{NtoS(vm.state)}}</td>
                <td style="text-align: center;">{{vm.CPU}}</td>
                <td style="text-align: center;">{{vm.MEM}}</td>
                <td style="text-align: center;">{{vm.DISK}}</td>
            </tr>
        </table>
        
    </div>
</div>